.nav {
  &__sidebar {
    background-color:rgb(22, 20, 48) ;
   
    height: 100vh;
    left: -10px;
    transition: all 0.5s ease-in-out;
    font-weight: 700;
    width: 300px;
    z-index: 1;
  }

  &--animate {
    transform: translateX(-320px);
  }
}
