.nav__link {
  margin: 20px;
  font-weight: 700;

  a,
  a:hover {
    color: rgb(216, 206, 206);
    text-decoration: none;
  }

  a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width 0.3s ease-in-out;
  }

  a:hover::after {
    width: 100%;
  }
}
